<div class="container-fluid my-2">
  <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
    <div class="col">
      <app-search *ngIf="pagination" [clear]="clear" [search]="search"></app-search>
      <div class="card mt-2 bg-dark bg-opacity-25">
        <div class="card-header">
          <h3 *ngIf="pagination">Запити про допомогу</h3>
          <h3 *ngIf="!pagination">Останні запити про допомогу</h3>
        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <div class="col-11">
              <div *ngIf="loading" class="bg-secondary bg-opacity-10 p-3 rounded-2">
                <div class="d-flex justify-content-center p-5">
                  <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                  </div>
                </div>
              </div>
              <div *ngIf="lastRequests.length===0 && !loading" class="bg-secondary bg-opacity-10 p-3">
                <h6>Ви ще не відправляли запити</h6>
              </div>
              <div *ngIf="lastRequests.length>0 && !loading">
                <div *ngFor="let request of lastRequests" class="m-2">
                  <app-last-help-request [request]="request"></app-last-help-request>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!loading && pagination" class="card-footer">
          <app-pagination [paginationService]="paginationService"></app-pagination>
        </div>
        <div *ngIf="!loading && !pagination && lastRequests.length>0" class="card-footer">
          <a [routerLink]="['/help-requests']" class="btn btn-primary">Переглянути всі запити</a>
        </div>
      </div>
    </div>
  </div>
</div>
