@model IdentityServer.ViewModels.ResetPasswordViewModel
<h3>Reset password</h3>
<partial name="_ValidationSummary"/>
<div class="col-sm-6">
    <form asp-action="ResetPassword" method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <input type="hidden" asp-for="ReturnUrl"/>
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Token"/>
        <div style="margin:5pt 0 5pt 0;">
                        <label  asp-for="Password" class="col"></label>
                        <input placeholder="Password" type="password" asp-for="Password"/>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div style="margin:5pt 0 5pt 0;" >
                        <label asp-for="ConfirmPassword" class="col"></label>
                        <input placeholder="Confirm Password" type="password" asp-for="ConfirmPassword"/>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div style="margin:5pt 0 5pt 0;">
                        <input class="flex-grow-1" type="submit" value="Save"/>
                    </div>
                </form>
</div>