@model IdentityServer.ViewModels.SendResetPasswordViewModel
<div>
    <h2>Send reset password message</h2>
    <partial name="_ValidationSummary"/>
    <div class="col-sm-6">
        @if(!string.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            <div class="alert alert-success" role="alert">
                <p>@Model.StatusMessage</p>
            </div>
        }
        <form method="post" asp-action="SendResetPassword" asp-route-returnUrl="@Model.ReturnUrl">
            <div style="margin: 5pt 0 5pt 0">
                <div>
                    <label asp-for="Credential">Username, email or phonenumber</label>
                </div>
                <div>
                    <input asp-for="Credential" placeholder="Username or email" autofocus/>
                </div>
                
                <span asp-validation-for="Credential"></span>
            </div>
            <div style="margin: 5pt 0 5pt 0" >
                <input type="submit" value="Reset password"/>
            </div>
        </form>
    </div>
</div>