<div class="card">
  <div class="card-header">
    <h5>Пошук</h5>
  </div>
  <div class="card-body row py-2 m-0">
    <div class="col-12 col-sm-7 col-md-8 my-2">
      <input [(ngModel)]="searchQuery" class="form-control" placeholder="Ключове слово, дата, им'я автора" required
             type="text">
    </div>
    <div class="col-12 col-sm-5 col-md-4 row m-0">
      <div class="col-6 my-2 text-end">
        <button (click)="privateSearch()" class="btn btn-outline-success" type="submit">Шукати</button>
      </div>
      <div class="col-6 my-2 text-end">
        <button (click)="privateClear()" [ngClass]="searched?'':'disabled'" class="btn btn-outline-danger"
                type="submit">Очистити
        </button>
      </div>
    </div>

  </div>

</div>
