<div class="card my-2">
  <div class="card-header">
    <h5>Пошук</h5>
  </div>
  <div class="card-body row py-2 m-0">
    <div class="col-sm-8 my-2">
      <input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Ключове слово, дата, им'я автора" required>
    </div>
    <div class="col-sm-4 row row-cols-2 m-0">
      <div class="col-sm-6 my-2 text-end">
        <button class="btn btn-outline-success" type="submit" (click)="privateSearch()">Шукати</button>
      </div>
      <div class="col-sm-6 my-2 text-end">
        <button class="btn btn-outline-danger" [ngClass]="searched?'':'disabled'" type="submit" (click)="privateClear()">Очистити</button>
      </div>
    </div>

  </div>

</div>
