<h4 class="modal-title pull-left" mat-dialog-title>Редагування новини</h4>
<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
  <mat-dialog-content class="mat-input-underline">
    <div class="mb-1">
      <label class="form-label" for="title">Заголовок</label>
      <input class="form-control" formControlName="title" id="title" type="text">
    </div>
    <div class="mb-1">
      <label class="form-label" for="description">Опис</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>
    <div class="mb-1">
      <label class="form-label" for="image">Зображення</label>
      <input class="form-control" formControlName="image" id="image" type="text">
    </div>
    <div class="mb-1">
      <label class="form-label" for="author">Автор</label>
      <input class="form-control" formControlName="author" id="author" type="text">
    </div>
    <div class="mb-1">
      <label class="form-label" for="createdAt">Дата створення</label>
      <div class="row align-items-center">
        <div class="col-8 col-sm-10 col-md-11">
          <input [ngxMatDatetimePicker]="picker" class="form-control" formControlName="date" id="createdAt" matInput
                 type="text">
        </div>
        <div class="col-4 col-sm-2 col-md-1">
          <mat-datepicker-toggle [for]="$any(picker)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [touchUi]="true"></ngx-mat-datetime-picker>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-danger mx-2" mat-dialog-close type="submit">Зберегти</button>
    <button class="btn btn-success" mat-dialog-close type="button">Назад</button>
  </mat-dialog-actions>
</form>
