@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User.GetDisplayName();
    }
    var value = Context.Request.Query["ReturnUrl"];
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            Authentication Service
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@value.ToString()">Logout</a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Profile" asp-route-returnUrl="@value.ToString()">Profile</a>
                                                            
                        </div>
                </li>
                <li class="nav-item dropdown">
                    
                </li>
            </ul>
        }
        @if(string.IsNullOrWhiteSpace(name))
        {
            
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@value.ToString()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Registration" asp-controller="Account" asp-route-returnUrl="@value.ToString()">Register</a>
                </li>
            </ul>
        }

    
    </nav>
</div>
