@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityServer.ViewModels.PasswordChangingViewModel

    <h2>Profile</h2>
    <h4>Change password</h4>
    <partial name="_ValidationSummary" />
    @if (Model.IsSuccessful)
    {
        <div class="alert alert-success" role="alert">
            <p>Password changed successfully.</p>
        </div>
    }
<div class="col-sm-6">
    @if (Model.IsPasswordSet)
        {
            <form asp-action="PasswordChanging" method="post" class="d-flex flex-column"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <input type="hidden" asp-for="ReturnUrl"/>
                <div style="margin:5pt 0 5pt 0;">
                    <label asp-for="OldPassword" class="col"></label>
                    <input placeholder="OldPassword" type="password" asp-for="OldPassword"/>
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div style="margin:5pt 0 5pt 0;" >
                    <label asp-for="Password" class="col"></label>
                    <input placeholder="Password" type="password" asp-for="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div style="margin:5pt 0 5pt 0;">
                    <label asp-for="ConfirmPassword" class="col"></label>
                    <input placeholder="Confirm Password" type="password" asp-for="ConfirmPassword"/>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div style="margin:5pt 0 5pt 0;" class="d-flex justify-content-between">
                    <input type="submit" value="Save"/>
                </div>
            </form>
        }
        else
        {
            <form asp-action="PasswordChanging" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input type="hidden" asp-for="ReturnUrl"/>
                <div style="margin:5pt 0 5pt 0;">
                    <label  asp-for="Password" class="col"></label>
                    <input placeholder="Password" type="password" asp-for="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div style="margin:5pt 0 5pt 0;" >
                    <label asp-for="ConfirmPassword" class="col"></label>
                    <input placeholder="Confirm Password" type="password" asp-for="ConfirmPassword"/>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div style="margin:5pt 0 5pt 0;">
                    <input class="flex-grow-1" type="submit" value="Save"/>
                </div>
            </form>
        }
</div>
    
