<ng-template #deletingModal>
  <div mat-dialog-title>
    <h4 class="modal-title pull-left">Видалення новини</h4>
  </div>
  <mat-dialog-content>
    <p>Ви дійсно бажаєте видалити новину?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="modalRef.close();deleteNew();" class="btn btn-danger mx-2">Так</button>
    <button (click)="modalRef.close();" class="btn btn-success">Ні</button>
  </mat-dialog-actions>
</ng-template>

<div *ngIf="fullViewed" class="card my-3 m-2">
  <div class="card-body">
    <h3 class="card-title">{{publicNew.title}}</h3>
    <img *ngIf="publicNew.imageUrl" alt="..." class="card-img-top img-thumbnail"
         src="{{publicNew.imageUrl}}" style="max-height: 800px;max-width: 100%">
    <p class="card-text">{{publicNew.description}}</p>
    <div class="card-text">
      <small class="text-muted">{{publicNew.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}</small>
    </div>
    <a class="card-link " href="#">{{publicNew.author}}</a>
  </div>
</div>

<div *ngIf="!fullViewed" class="card my-3">
  <div class="card-body">
    <div *ngIf="oauthService.hasValidAccessToken() && oauthService.getIdentityClaims()['role']=='Admin'" class="float-end d-none d-sm-block">
      <div class="row">
        <div class="col px-1">
          <div (click)="openEditModal()" [closeDelay]="200" [openDelay]="200" class="btn btn-outline-dark"
               ngbTooltip="Редагувати"
               placement="top">
            <i class="fas fa-edit"></i>
          </div>
        </div>
        <div class="col px-1">
          <div (click)="openModal(deletingModal)" [closeDelay]="200" [openDelay]="200" class="btn btn-outline-danger"
               ngbTooltip="Видалити"
               placement="top">
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>

    <h5 class="card-title">{{publicNew.title}}</h5>
    <p class="card-text">{{truncated ? (publicNew.description | slice:0:30) :
      (publicNew.description | slice:0:100)}}
      <a (click)="truncated = !truncated" *ngIf="truncated && publicNew.description.length>30" class="card-link"
         style="cursor: pointer;">далі</a>
      <a (click)="truncated = !truncated" *ngIf="!truncated && publicNew.description.length>30" class="card-link"
         style="cursor: pointer;">згорнути</a>
    </p>
    <div class="card-text">
      <small class="text-muted">{{publicNew.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}</small>
    </div>


    <div class="row">
      <div class="col-12 col-sm-8">
        <p>Автор:
          <a class="card-link" href="#">{{publicNew.author}}</a></p>
      </div>
      <div class="col-12 col-sm-4">
        <div class="row align-items-center">
          <div class="col-6 col-sm-12">
            <div [queryParams]="{id:publicNew.id}" [routerLink]="['/public-new']"
                 class="btn btn-secondary card-link float-sm-end">Читати
            </div>
          </div>
          <div *ngIf="oauthService.hasValidAccessToken() && oauthService.getIdentityClaims()['role']=='Admin'" class="col-6 d-sm-none float-end">
            <div class="row text-end">
              <div class="col px-1">
                <div (click)="openEditModal()" class="btn btn-outline-dark">
                  <i class="fas fa-edit"></i>
                </div>
              </div>
              <div class="col px-1">
                <div (click)="openModal(deletingModal)" class="btn btn-outline-danger">
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
