<div class="card my-3">
  <div class="card-body">
    <img src="{{publicNew.image}}" class="card-img-top" alt="...">
    <h5 class="card-title">{{publicNew.title}}</h5>
    <p  class="card-text">{{truncated ? (publicNew.description | slice:0:30):
      (publicNew.description | slice:0:100)}}
    <a href="#" *ngIf="truncated" (click)="truncated = false" class="card-link">далі</a>
    <a href="#" *ngIf="!truncated" (click)="truncated = true" class="card-link">згорнути</a>
    </p>
    <div class="card-text">
      <small class="text-muted">{{publicNew.date | date:'dd.MM.yyyy HH:mm:ss'}}</small>
</div>
    <a href="#" class="card-link ">{{publicNew.author}}</a>
    <div class="btn btn-secondary card-link float-end" (click)="showFullNew()">Читати</div>
  </div>
</div>
